
html,
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

p {
    margin: 0;
    padding: 0;
}

ol {
    margin: 0;
    padding: 0 0 0 15px;
}

ul {
    margin: 0;
    padding: 0 0 0 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.container-blocks {
    z-index: 0;
    position: relative;
    height: 100vh;
    overflow: auto;
    transform-origin: 0 0;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.cp-button {
    border: 2px solid #aaa;
    background-color: #f0f0f0;
    color: #333;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    outline: none;
}

.cp-button:hover {
    background-color: #b0aeae;
}

.cp-button__active {
    background-color: #8d8d8d;
    color: #330101;
    transform: translateY(2px)
}


.block {
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: grid;
    border-radius: 5px;
    box-sizing: border-box;
    gap: 7px;
    padding: 7px;
    min-height: 10px;
}

.block-link {
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: grid;
    border-radius: 5px;
    outline: 1px dashed;
    box-sizing: border-box;
    padding: 0;
    gap: 0;
}

.block-link-active {
    outline: 2px dashed #343434;
    /*border: 0*/
}

.block-empty {
    display: grid;
    box-sizing: border-box;
    border-radius: 5px;
    border: dashed;
    width: 100%;
    height: 100%;
}

.block-active {
    outline: 2px solid #343434;
}

.block-selected {
    outline: 2px solid #bb8fd5;
}

.block-highlighted {
    opacity: 0.5;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.clickable-label {
    cursor: pointer;
}

.table {
    font-weight: bold;
    gap: 7px;
    padding: 7px;
    font-size: 12px;
    text-align: left;
    writing-mode: horizontal-tb;
}

.loading-cursor {
    cursor: wait;
}


#error-popup {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #f44336; /* Красный цвет для ошибок */
    color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

#error-popup.visible {
    opacity: 1;
    transform: translateY(0);
}

#error-popup.hidden {
    transform: translateY(20px);
}

.breadcrumb-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
    z-index: 9999;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.breadcrumb {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 16px; /* Размер текста */
}

.breadcrumb-item {
    margin-right: 8px;
    color: #333; /* Цвет текста */
}

.breadcrumb-item div {
    text-decoration: none;
    color: #007bff; /* Цвет ссылок */
}

.breadcrumb-item div:hover {
    text-decoration: underline;
}


.no-select {
    user-select: none; /* Современные браузеры */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
