
html,
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

p {
    margin: 0;
    padding: 0;
}

ol {
    margin: 0;
    padding: 0 0 0 15px;
}

ul {
    margin: 0;
    padding: 0 0 0 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* Основной контейнер страницы */
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Высота занимает весь экран */
    margin: 0;
}

/* Обёртка для sidebar и основного содержимого */
.content-wrapper {
    display: flex;
    flex: 1; /* Занимает оставшееся пространство */
    overflow: hidden;
}



/* Основное содержимое */
.container-blocks {
    flex: 1;
    overflow: auto;
    box-sizing: border-box;
}

/* Стили для хлебных крошек */
.breadcrumb-nav {
    height: auto;
    background-color: #f8f9fa;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border-top: 1px solid #ddd;
    padding: 8px 16px;
    box-sizing: border-box;
}

.breadcrumb-nav ul {
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.breadcrumb-nav li {
    font-size: 14px;
    color: #333;
}

@media (max-width: 600px) {
    .breadcrumb-nav {
        padding: 6px 12px;
    }
}


.cp-button__active {
    background-color: #8d8d8d;
    color: #330101;
    transform: translateY(2px)
}


.block {
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: grid;
    border-radius: 5px;
    box-sizing: border-box;
    gap: 7px;
    padding: 7px;
    min-height: 10px;
}

.block-link {
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: grid;
    border-radius: 5px;
    outline: 1px dashed;
    box-sizing: border-box;
    padding: 0;
    gap: 0;
}

.block-link-active {
    outline: 2px dashed #343434;
}

.block-link-selected {
    outline: 2px solid #bb8fd5;
}

.block-empty {
    display: grid;
    box-sizing: border-box;
    border-radius: 5px;
    border: dashed;
    width: 100%;
    height: 100%;
}

.block-active {
    outline: 2px solid #343434;
}

.block-selected {
    outline: 2px solid #bb8fd5;
}


iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.table {
    font-weight: bold;
    gap: 7px;
    padding: 7px;
    font-size: 12px;
    text-align: left;
    writing-mode: horizontal-tb;
}

.loading-cursor {
    cursor: wait;
}


#error-popup {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #f44336; /* Красный цвет для ошибок */
    color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

#error-popup.visible {
    opacity: 1;
    transform: translateY(0);
}

#error-popup.hidden {
    transform: translateY(20px);
}


.no-select {
    user-select: none; /* Современные браузеры */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}


.before-block {
    width: 15px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
    pointer-events: auto;
    border: 1px dashed rgba(0, 0, 0, 0.5);
}

.before-block-hover {
    opacity: 1;
    background-color: rgba(0, 150, 255, 0.4);
    border: 1px solid rgba(0, 150, 255, 0.8);
    box-shadow: 0 0 5px rgba(0, 150, 255, 0.8);
}