/* Оверлей модального окна поиска */
.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Скрыто по умолчанию */
    z-index: 1000;
}

.search-modal {
    /*display: none; !* Скрываем по умолчанию *!*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    width: 90%;
    max-width: 700px;
    overflow-y: auto;
    max-height: 90vh;
}

.close-search-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close-search-button:hover {
    color: #000;
}


.search-input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-results {
    list-style-type: none;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    display:flex;
    gap: 5px;
    flex-direction: column;
}

.search-results li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    max-height: 40px;
    overflow-y: auto;
    display:flex;
}

.search-results li:hover {
    background-color: #f5f5f5;
}
