.active-button-info {
    padding: 5px 10px;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    font-size: 0.9em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
    opacity: 1;
}

.active-button-info.hidden {
    opacity: 0;
    pointer-events: none;
}

.toolbar-section {
    margin-bottom: 25px;
}

.sidebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    background-color: #f9f9f9;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
    color: #333;
}

.sidebar-button:last-child {
    margin-bottom: 0;
}

button:focus {
    outline: none;
}

/* Сайдбар */
.sidebar {
    max-width: 60px;
    padding: 0 4px;
    background-color: #e9ecef;
    border-right: 1px solid #ccc;
    transition: width 0.3s ease;
    overflow: auto;
}


/* Контейнер для кнопок с вертикальной прокруткой */
.sidebar-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 8px 0;
    box-sizing: border-box;
}

.sidebar-button:hover {
    background-color: #e8f4ff;
    border-color: #4CAF50;
    transform: translateY(-2px);
}

.active-button {
    border-color: #007bff;
    outline: 2px solid #3939de;
}


.text-danger {
    color: #b23c3c;
}


@media (max-width: 600px) {
    .sidebar-button{
        width: 40px;
        height: 35px;
        padding: 8px 8px;
    }
    .control-panel {
        padding: 20px;
    }

    .toolbar-section h3 {
        font-size: 1em;
    }

    .sidebar {
        max-width: 40px;
    }
}

.top-navigation {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    overflow: scroll;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

/* Кнопки навигации */
.tree-navigation {
    display: flex;
    gap: 15px;
    box-shadow: 2px -2px 5px rgba(0, 0, 0, 0.1);
}

.tree-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.tree-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.tree-button:active {
    background-color: #004494;
}

.tree-button.selected {
    background-color: #28a745;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    border: 2px solid #218838;
}


/* Адаптивные стили */
@media (max-width: 600px) {
    .tree-button {
        font-size: 12px;
    }

    .tree-navigation {
        gap: 10px;
    }

    .top-navigation {
        display: flex;
        padding: 5px 10px;
        box-sizing: border-box;
    }

    .active-button-info {
        padding: 5px 10px;
        margin-right: 10px;
        font-size: 0.7em;
    }
}


